<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages</title>
</head>
<body>
  <a href="/messages/new">Post a new Message</a>
  <h1>Messages</h1>
  <ul>
    <% messages.forEach(function(message) { %>
      <li>
        <h3><%= message.title %></h3>
        <p><%= message.text %></p>
        <p><%= message.timestamp %></p>

        <% if (isMember && message.first_name && message.last_name) { %>
          <p>Posted by: <%= message.first_name %> <%= message.last_name %></p>
        <% } %>

        <% if (isMember && isAdmin) { %>
          <form action="/messages/<%= message.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>

        <% } %>
      </li>
    <% }) %>
  </ul>
</body>
</html>